<p style="color: green"><%= notice %></p>

<h1>Flats</h1>

<div id="flats">
  <% @flats.each do |flat| %>
    <%= render flat %>
    <p>
      <%= link_to "More info", flat %> |
      <%= link_to "Edit", edit_flat_path(flat) %> |
      <%= link_to "Delete",
        flat_path(flat),
        method: :delete,
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </p>
  <% end %>
</div>

<%= link_to "New flat", new_flat_path %>
