<div class="container margin-top-negative">
  <div class="row">
    <div class="flat-show-card">
      <h2><%= @flat.name %></h2>
      <p><%= @flat.address %></p>
    </div>
    <div class="flat-show-card">
      <h4>A bit more about this flat...</h4>
      <p><%= @flat.description %></p>
      <div class="flex">
        <span><%= guests_icon %> <%= @flat.number_of_guests %></span>
        <span><%= british_pound_icon %> <%= @flat.price_per_night %>/night</span>
      </div>
    </div>
  </div>
</div>
